@use "../../style.scss"as v;

.field__wrapper {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 10px;
    flex-direction: column;

    label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-bottom: 10px;
        border-bottom: 1px solid v.$background;

        .fields {
            &__title {
                font-size: 13px;
                line-height: 13px;
            }

            &__value {
                font-size: 13px;
                line-height: 13px;
                text-align: right;
                color: v.$helper;
                border: none;
            }
        }
    }

    .error {
        color: red;
    }
}
