<section>
    <div class="avatar"></div>
    <p class="name"></p>
    <div class="fields">
        <ul>
            <li>
                <span class="title"></span>
                <span class="value"></span>
            </li>
            <li>
                <span class="title"></span>
                <span class="value"></span>
            </li>
            <li>
                <span class="title"></span>
                <span class="value"></span>
            </li>
            <li>
                <span class="title"></span>
                <span class="value"></span>
            </li>
            <li>
                <span class="title"></span>
                <span class="value"></span>
            </li>
            <li>
                <span class="title"></span>
                <span class="value"></span>
            </li>
        </ul>
    </div>
    <div class="change">
        <ul>
            <li>
                <span></span>
            </li>
            <li>
                <span></span>
            </li>
            <li>
                <span class="exit"></span>
            </li>
        </ul>
    </div>
</section>