@use "../../style.scss" as v;

.chat {
    &__list {
        &_item {
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: lighten(v.$background, 2%);
            }

            &:first-child {
                .chat__item_wrapper {
                    border-top: 1px solid darken(v.$background, 5%);
                }
            }

            &_active {
                background-color: v.$background;
            }
        }
    }

    &__item_wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: minmax(47px, 60px) 2fr 1fr;
        grid-template-areas:
            "avatar title dateTime"
            "avatar subtitle newMessage";
        align-items: center;
        border-bottom: 1px solid darken(v.$background, 5%);
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 0 10px;

        .chat {
            &__avatar {
                grid-area: avatar;
                width: 47px;
                height: 47px;
                border-radius: 50%;
                background-color: v.$background;
                margin-right: 10px;
            }

            &__title {
                grid-area: title;
                font-size: 13px;
                line-height: 13px;
                color: v.$chatTitle;
            }

            &__subtitle {
                grid-area: subtitle;
                align-self: self-start;
                font-size: 12px;
                line-height: 15px;
                color: v.$helper;
            }

            &__date_time {
                grid-area: dateTime;
                justify-self: end;
                align-self: start;
                font-size: 9px;
                line-height: 13px;
                color: v.$helper;
            }

            &__new_message {
                grid-area: newMessage;
                justify-self: end;
                font-size: 11px;
                line-height: 12px;
                text-align: center;
                min-width: 12px;
                min-height: 12px;
                padding: 5px;
                border-radius: 50%;
                background-color: v.$primary;
                color: v.$buttonText;
            }
        }
    }
}
