@use "../../style.scss" as v;

.chat {
    &__item_wrapper {
        display: grid;
        grid-template: "avatar title dateTime"1fr "avatar subtitle newMessage"1fr / minmax(47px, 60px) 2fr 1fr;
        align-items: center;
        border-bottom: 1px solid v.$background;
        padding-top: 12px;
        padding-bottom: 12px;
        margin: 0 10px; 
        transition: all 0.3s ease;

        &:hover {
            background-color: rgb(168, 217, 242);
        }
    }

    &__avatar {
        grid-area: avatar;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background-color: v.$background;
        margin-right: 10px;
    }

    &__title {
        grid-area: title;
        font-size: 13px;
        line-height: 13px;
        color: v.$chat-title;
    }

    &__subtitle {
        grid-area: subtitle;
        align-self: self-start;
        font-size: 12px;
        line-height: 15px;
        color: v.$helper;
    }

    &__date_time {
        grid-area: dateTime;
        justify-self: end;
        align-self: start;
        font-size: 9px;
        line-height: 13px;
        color: v.$helper;
    }

    &__new_message {
        grid-area: newMessage;
        justify-self: end;
        font-size: 11px;
        line-height: 12px;
        text-align: center;
        min-width: 12px;
        min-height: 12px;
        padding: 5px;
        border-radius: 50%;
        background-color: v.$primary;
        color: v.$button-text;
    }

    &__list {
        &_item {
            transition: all 0.3s ease;
            cursor: pointer;
            position: relative;

            &:hover {
                background-color: adjust(v.$background, 2%);
                .chat__delete {
                    right: 0;
                }
            }

            &:first-child {
                .chat__item_wrapper {
                    border-top: 1px solid adjust(v.$background, -5%);
                }
            }

            &_active {
                background-color: #5296f5;
            }
        }
    }
    &__delete {
        position: absolute;
        top: 0;
        right: -50px;
        width: 50px;
        height: 100%;
        background-color: #ff3a3a;
        transition: all 0.3s ease-in;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        button {
            background: url(../../img/trash.svg) center bottom no-repeat;
            max-width: 50px;
            padding: 25px;
            margin: 0;
        }
    }
}
