<footer>
    <form action="" class={{footer__form}} name="messageForm">
        {{{button1}}}
        <input type="text" name="message" placeholder="Сообщение">
        <span class={{error}}></span>
        {{{button2}}}
    </form>
</footer>
