@use '../../style.scss' as v;

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    min-height: 450px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;

    &__wrapper {
        width: 100%;
        height: calc(100vh - v.$nav-heigth);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    &__title {
        font-size: 20px;
        padding: 10px;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-grow: 1;
        padding-bottom: 20px;

    }

    &__same_btn {
        font-size: 11px;
        color: v.$primary;
        margin-bottom: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}
