@use "../../../style.scss"as v;

label {
    position: relative;
    display: flex;
    flex-direction: column;

    &:focus-within {
        .input__title {
            font-size: 9px;
            color: v.$helper;
            top: -5px;
        }
    }

    .input__title {
        position: absolute;
        bottom: 5px;
        left: 0;
    }

    input {
        width: 280px;
        border: none;
        border-bottom: 1px solid v.$primary;
        outline: none;
        font-size: 13px;
        line-height: 13px;
        padding: 5px 5px 5px 0;
    }

    .error {
        color: red;
        font-size: 14px;
        width: 285px;
    }
}
