@use "../../../../style.scss"as v;

.chat__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: v.$background;
    position: relative;
    gap: 8px;

    .nav {
        &__avatar {
            width: 40px;
            height: 40px;
            background: v.$background;
            border-radius: 50%;

            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
                aspect-ratio: 1;
            }
        }

        &__name {
            flex-grow: 1;
            font-weight: 600;
            font-size: 13px;
            line-height: 13px;
        }

        &__dots {
            text-align: right;
            position: relative;
            font-size: 20px;
            cursor: pointer;

            button {
                padding: 5px;
                background: none;
                margin: 0;
                color: currentcolor;
                font-size: 20px;
            }

            &::before,
            &::after {
                content: ".";
                position: absolute;
            }

            &::before {
                top: 0;
                left: 5px;
            }

            &::after {
                right: 5px;
                bottom: 0;
            }
        }

        &__buttons {
            display: flex;
            gap: 5px;

            button {
                padding: 5px;
                max-width: 50px;
                width: 30px;
                height: 30px;
                margin: 0;
            }
        }
    }
}
