<section class={{chat__left_section}}>
    {{{profile}}}
    <input type="text" class={{search}} placeholder="&#128269;&nbsp;Поиск">
    <ul>
        {{#each chatList}}
            {{{chatList}}}
        {{/each}}
    </ul>
</section>
