<section class={{chatLeftSection}}>
    <a href="/profile" class={{profile}}>Профиль <span>></span></a>
    <input type="text" class={{search}} placeholder="&#128269;&nbsp;Поиск">
    <ul>
        {{{items}}}
    </ul>
</section>